html, body {
    font-family: "Microsoft YaHei", "微软雅黑", Helvetica, Arial, sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.content {
	width: 90%;
	min-width: 600px;
	max-width: 800px;
	margin: auto;
	text-align: center;
}

.header {
	width: 100%;
}

.subheader, .full_img {
	width: 100%;
	margin-top: 10px;
}

.title {
	padding-top: 40px;
}

.desc {
	padding-top: 10px;
	text-align: left;
	text-indent:30px;
	font-size: 15px;
}

.line {
	width: 60px;
	height: 1px;
	background-color: #888;
	margin: 10px auto auto auto;
}

.icon_img {
	margin: 60px auto auto auto;
	width: 50px;
}

.finish {
	padding-top: 10px;
	text-align: left;
	font-size: 15px;
}


.bottom {
	width: 100%;
	height: 100px;
	margin-top: 60px;
    border-width: 1px;;
    border-color: #888;
    border-top-style: solid;
    position: relative;
}
#left, #middle, #right {
	width: 50px;
	top: 25px;
	position: absolute;
}
#left {
	left: 50px;
}
#right {
	right: 50px;
}
#middle {
	left: 50%;
	transform: translate(-50%, 0px);
	-webkit-transform: translate(-50%, 0px);
	-moz-transform: translate(-50%, 0px);
	-ms-transform: translate(-50%, 0px);
}

#pop_container {
	position: fixed;
	width: 100%;
	display: none;
	top: 0px;
    bottom:0;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px;

}

#pop {
	width: 60%;
	border-style: solid;
	border-width: 2px;
	border-color: #fff;
}

#back {
	position: fixed;
	width: 40px;
	right: 20px;
	bottom: 120px;
	display: none;
}