<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <title>YGUMMI</title>
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/1.css" rel="stylesheet">
</head>
<body style="position:relative;">
	<div class="content">
		<img class="header" src="../images/header1.jpg"/>
		<img class="subheader" src="../images/desc1.png"/>
		<h2 class="title">团队/公司的用户体验水平是否可以被评估、管理？</h1>
		<p class="desc">你们是否有同样困惑：究竟我们的UX在业内处于什么水平、UX是否可以被衡量、管理？我们发现国际上确实有相关专家在研究这件事，他们提出成熟度水平模型。但角度和衡量标准都各不相同，我们获得信息是零散，缺乏具体操作层面指导说明，无法应用到实际工作中的。而在国内，这个概念更鲜有人知道。于是，我们提出构建“用户体验成熟度模型”。希望形成一套行之有效的UX评估升级管理机制。通过衡量组织、产品UX等级来提供改进方法和工具，循序渐进嵌入流程，建立标准。最终保证设计过程稳定进行并持续改善，满足用户需求，让用户体验融入企业基因。</p>

		<h3 style="padding-top:20px;">Research:how we got it ?</h3>
		<div class="line"></div>
		<img class="full_img" src="../images/1_1.png"/>
		<div style="width:100%;text-align:left;margin-top:10px;">
			<p style="margin-top:20px;margin-bottom:10px;">分析：比对模型&竞品流程</p>
			<img style="width:70%;" src="../images/1_2.png"/>
		</div>
		<div style="width:100%;text-align:left;margin-top:10px;">
			<p style="margin-top:20px;margin-bottom:0px;">我们在分析过程发现：</p>
			<img class="full_img" src="../images/1_3.png"/>
		</div>
		<h3 style="padding-top:20px;">成 果</h3>
		<div class="line"></div>
		<img class="full_img" src="../images/1_4.png"/>
		<div style="width:100%;text-align:left;margin-top:10px;">
			<p style="margin-top:20px;margin-bottom:0px;">除第1个等级外，每个成熟度等级都反映出一批用户体验工作稳定下来。</p>
			<p style="margin-top:0px;margin-bottom:10px;">在稳定的基础上，组织可瞄准更高一级的成熟度等级。通过度量指标的改进活动，使更多的用户体验工作以制度化的形式达到稳定。</p>
			<p style="margin-top:30px;margin-bottom:10px;">执行标准：</p>
		</div>
		<div style="width:100%;text-align:left;margin-top:10px;font-size:0px;">
			<img id="c1_1" style="display:inline-block; width:44%;" src="../images/1_5.jpg"/>
			<img id="c1_2" style="display:inline-block; width:28.3%; margin-left:2%;" src="../images/1_6.jpg"/>
			<img id="c1_3" style="display:inline-block; width:23.7%; margin-left:2%;" src="../images/1_7.jpg"/>
		</div>
		<p class="desc">这部分引入了UMMI委员会的概念，通过由委员会制订计划，来完成具体的体系筹备、宣传等工作。到了启动阶段，包括内审和现状分析两个环节。而定级阶段分为外审和评审两部分。相应，还有改进计划和执行。并定期进行复审，从而确定是降级、保级还是升级。</p>
		<img class="full_img" src="../images/1_8.jpg"/>
		<img class="full_img" src="../images/1_9.png"/>
		<h3 style="padding-top:20px;">推 广</h3>
		<div class="line"></div>
		<img id="1_more" class="full_img" src="../images/1_10.png"/>
		<img class="icon_img" src="../images/icon.jpg"/>
		<p class="finish">UMMI是我经历过的一个很重要的项目，且带给我很多思考。整个项目做完后感觉自己的视野变得开阔起来，想问题也不局限在一个点，而是会去考虑一个片。作为一个交互设计师，我们要做的不仅仅是埋头设计，更重要且关键的是能把自己的思维上升到一定高度。能常常去想到现在自己做的产品或项目设计流程设计模式下存在的问题，能把用户体验的观念嵌入到工作的每个细节 ，能积极主动的沟通甚至在与研发同事合作的过程中改变他们的观念。也就是有产品大体验的想法，从在产品功能本身上做体验优化拓展到产品定位、宣传、推广、营销等全方位的体验策略。</p>
		<p class="finish">一开始去接触这方面知识的时候，获得资料非常有限，只能获得国外的一些网站的信息，每天做的就是翻译，找资料，吸收理解。所以获得的第二个技能就是面对庞大的信息，并且在自己不熟悉的情况下如何进行筛选如何转化为自己的知识的信息处理能力。在埋头苦研究的过程中，我们构建起了符合我们自身情况的用户体验成熟度模型，从价值模型、体系结构、执行标准、体系文案到运作方案的系列标准的出台，就像是看着自己的孩子一样，一天天茁壮起来。</p>
	</div>

	<div class="bottom">
		<img id="left" src="../images/left.jpg"/>
		<img id="middle" src="../images/middle.jpg"/>
		<img id="right" src="../images/right.jpg"/>
	</div>

	<div id="pop_container">
		<img id="pop"/>
	</div>

	<script src="../libs/jquery-3.1.0.min.js"></script>
	<script src="../js/base.js"></script>
</body>
</html>