<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <title>能源互联网</title>
    <link href="../css/base.css" rel="stylesheet">
</head>
<body style="position:relative;">
	<div class="content">
		<img class="header" src="../images/header10.png"/>
		<img class="subheader" src="../images/desc10.png"/>
		<h2 class="title">项目背景</h2>
		<p class="desc">一直以来，两大电网企业采取统购统销、输配售一体化的模式，中国没有独立的售电公司。电改9号文明确售电业务将向社会资本开放后，各种社会资本就开始关注这一领域，售电公司如雨后春笋般出现。于是，公司也成立了相应的能源互联网项目组，目前处于基础建设和筹备时期，而为了更好的与配售电信息一体化平台进行融合，需要对电易网上营业厅进行改版。</p>
		<h3 class="title">低保真原型</h3>
		<img class="full_img" src="../images/10_1.png"/>
		<img class="full_img" src="../images/10_2.png"/>
		<img class="full_img" src="../images/10_3.png"/>

		<h3 class="title">高保真原型</h3>
		<img class="full_img" src="../images/10_4.png"/>
		<img class="full_img" src="../images/10_5.png"/>
	</div>

	<img id="back" src="../images/back.png"/>

	<div class="bottom">
		<a href="./9.html"><img id="left" src="../images/left.jpg"/></a>
		<a href="../index.html"><img id="middle" src="../images/middle.jpg"/></a>
		<a href="./11.html"><img id="right" src="../images/right.jpg"/></a>
	</div>

	<script src="../libs/jquery-3.1.0.min.js"></script>
	<script src="../js/base.js"></script>
</body>
</html>