<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <title>自媒体运营</title>
    <link href="../css/base.css" rel="stylesheet">
</head>
<body style="position:relative;">
	<div class="content">
		<img class="header" src="../images/header12.png"/>
		<img class="subheader" src="../images/desc12.png"/>
		<h2 class="title">项目背景</h2>
		<p class="desc">时下社会化自媒体营销已深深融入日常。从最初微博营销，到微信营销一发不可收拾，直到黎万强说出“每个企业都是自媒体”。企业主宰的社会化自媒体时代已到来，类似粉丝经济和社群商业理念也不断涌现。在这样驱使下，企业开通微信订阅号似乎已成为了标配。于是，不甘落后的，我们在2014年1月开通了YGUEC的订阅号，定位是为用户提供信息和资讯，为公司和部门提供一种新的信息传播方式，构建与读者之间更好的沟通与管理模式。后来随着众测平台的上线，相应又开通远光小微的服务号，定位是为公司提供更强大的业务服务与用户管理能力，实现全新的服务平台；给与用户服务，收集客户反馈信息，提供解决方案。而我有幸，参与其中，获得思考。</p>
		<img style="display:inline-block;width:180px;" src="../images/12_1.png"/>
		<img style="display:inline-block;width:180px;" src="../images/12_2.png"/>
		<img style="display:inline-block;width:180px;" src="../images/12_3.png"/>
		<img style="display:inline-block;width:180px;" src="../images/12_4.png"/>

		<h3 class="title">企业订阅号该如何运营？</h3>
		<div style="width:100%;text-align:left;margin-top:10px;">
			<p style="margin-top:20px;margin-bottom:0px;">运营初期就是凭一股子热情，发文求关注。我们会排班轮流写文，保证曝光率。但这时并没太多的规划，是没有完整的运营方案。意识到问题后，每个成员都开始收集一些运营的案例，重点关注借鉴的点。想办法确立自己的运营方案。</p>
			<p style="margin-top:30px;margin-bottom:10px;">大家都很有想法，提出了很多有意思的观点。脑暴后成果如下:</p>
		</div>
		<img style="width:50%;" src="../images/12_5.png"/>
		<div style="width:100%;text-align:left;margin-top:10px;">
			<p style="margin-top:20px;margin-bottom:0px;">我们达成的共识是：微信运营对我们更重要的是思考整体策略，不单单只YGUEC订阅号，我们要利用能利用的资源实现移动端的运营布局，我们能在移动端为用户提供什么，解决哪些公司对用户协同（驱动）的需要，也都是我们要思考的。</p>
			<p style="margin-top:30px;margin-bottom:10px;">当时运营最大困惑是关于订阅号价值定位的问题。分为了两种观点。</p>
			<p style="margin-top:0px;margin-bottom:0px;">观点一：订阅号就是用来传递用户体验知识的，同时扩大团队自身影响力就可以了。主要价值就是对内服务。</p>
			<p style="margin-top:0px;margin-bottom:0px;">观点二：应首先考虑真实用户，理想是借助微信平台向用户提供服务，建立一套用户在微信反馈产品问题、提出产品需求、参与研发的生态体系。</p>
			<p style="margin-top:30px;margin-bottom:10px;">两种观点的价值点不太一样。我想还是主要考虑怎么样找到运营的最大价值点。如果不加思索，漫无目的的发文，是没有意义的。不是为了运营而运营，发文而发文。价值定位是个核心问题，决定了运营方向。只有知道了目标，才能围绕细化展开实现。对于公司来说，其实这两种需求都是有的，所以或者说能不能两种结合起来考虑，是我当时想的。</p>
			<p style="margin-top:0px;margin-bottom:0px;">最终的解决方案是。两种定位都保留，新开一个服务号来满足对外的需求，订阅号则主要对内。</p>
		</div>
		<h3 class="title">分析</h3>
		<div style="width:100%;text-align:left;margin-top:10px;">
			<p style="margin-top:20px;margin-bottom:0px;">1. 现状：</p>
			<p style="margin-top:0px;margin-bottom:0px;">1) 订阅号定位不够清晰、价值点不突出、内容有待完善；</p>
			<p style="margin-top:0px;margin-bottom:0px;">2) 网站没有实现统一的整合规划，东一榔头西一棒子较为零散；</p>
			<p style="margin-top:0px;margin-bottom:0px;">3) 网站与订阅号之间相互孤立、信息碎片无法集中。</p>
			<p style="margin-top:20px;margin-bottom:0px;">2. 思路：</p>
			<p style="margin-top:0px;margin-bottom:0px;">1）打造触动人心的YGUEC订阅号，可从中获得用户体验产品干货、猛料，UEC服务咨询最新动态，UEC团队风采展示，同时也是网站的接口；</p>
			<p style="margin-top:0px;margin-bottom:0px;">2）针对用户体验设计工作中涉及的产品、重要项目，建立关联；</p>
			<p style="margin-top:0px;margin-bottom:0px;">3）订阅号定位未围绕工作接口设计。对内服务，用户为公司内部员工、领导，包括各分子公司。</p>
			<p style="margin-top:20px;margin-bottom:0px;">3.我们的目标：</p>
			<p style="margin-top:0px;margin-bottom:0px;">宣传窗口，促进公司对我们的认知，提升好感度</p>
			<p style="margin-top:0px;margin-bottom:0px;">服务窗口，我们UEC对外提供的服务，这里要找到统一的入口</p>
			<p style="margin-top:0px;margin-bottom:0px;">运营窗口，我们的运营活动中枢，UEC和其他各部门都可以通过这个入口组织各类运营活动，我们做服务</p>
			<p style="margin-top:20px;margin-bottom:10px;">绘制原型如下：</p>
		</div>
		<img class="full_img" src="../images/12_6.png"/>

		<img class="icon_img" src="../images/icon.jpg"/>
		<p class="finish">这个项目让我感受最深的对于价值最大化的理解。在这个在信息大爆炸时代如何运营一个有价值的企业自媒体，意味着连接一切，传递价值。这便是意义所在。以前是获取信息，现在不仅获取信息而且是通过信息获取产品或服务。具体来说，企业应可通过企业自媒体与用户建立“连接”，让企业与用户之间零距离。企业自媒体也要被“人格化”，让读者真正获得价值。要将媒体号运作成“行业专家”，从而吸引“爱好者”。最终顺水推舟将产品或服务推荐给这群人使用，达成交易。而不是变成软文发布器。</p>
	</div>

	<img id="back" src="../images/back.png"/>

	<div class="bottom">
		<a href="./11.html"><img id="left" src="../images/left.jpg"/></a>
		<a href="../index.html"><img id="middle" src="../images/middle.jpg"/></a>
		<a href="./13.html"><img id="right" src="../images/right.jpg"/></a>
	</div>

	<script src="../libs/jquery-3.1.0.min.js"></script>
	<script src="../js/base.js"></script>
</body>
</html>