<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <title>SHE</title>
    <link href="../css/base.css" rel="stylesheet">
</head>
<body style="position:relative;">
	<div class="content">
		<img class="header" src="../images/header14.png"/>
		<h2 class="title">业务沙龙系列</h2>
		<img class="full_img" src="../images/14_1.png"/>
		<h2 class="title">演讲分享系列</h2>
		<img class="full_img" src="../images/14_2.png"/>
		<img class="full_img" src="../images/14_3.png"/>
		<img class="full_img" src="../images/14_4.png"/>
		<h2 class="title">《About face 3》读书笔记系列 </h2>
		<img class="full_img" src="../images/14_5.png"/>
		<h2 class="title">《IU》对内杂志</h2>
		<img class="full_img" src="../images/14_6.png"/>
	</div>

	<img id="back" src="../images/back.png"/>

	<div class="bottom">
		<a href="./13.html"><img id="left" src="../images/left.jpg"/></a>
		<a href="../index.html"><img id="middle" src="../images/middle.jpg"/></a>
		<a href="./1.html"><img id="right" src="../images/right.jpg"/></a>
	</div>

	<script src="../libs/jquery-3.1.0.min.js"></script>
	<script src="../js/base.js"></script>
</body>
</html>