<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <title>GRIS3.0</title>
    <link href="../css/base.css" rel="stylesheet">
</head>
<body style="position:relative;">
	<div class="content">
		<img class="header" src="../images/header3.jpg"/>
		<img class="subheader" src="../images/desc3.png"/>
		<h2 class="title">传统企业级应用软件用户体验难以改善？</h1>
		<p class="desc">企业级应用软件的用户体验普遍糟糕，在创新、易学、易用、高效性上一直被诟病，并广受批评。面对庞大的系统，复杂不应成为不改变的理由。我们一直在积极寻求新方案，但仅部门去推动是较为困难的。所幸乘着体验浪潮，客户也意识到用户体验的重要性，且想推动系统的体验升级，于是我们结合目前的问题，收集了很多的用户意见，朝着更符合管理软件发展趋势、满足人性化操作体验，基于财务管控和公司战略提供的一套完整的设计方案。实现产品界面和用户体验的有计划性统一升级，加强系统的一致性、易用化、友好性。</p>
		<p class="desc">远光作为一个在电力财务软件市场占有85%份额的细分行业龙头老大，拥有逾二十年的大型集团企业管理信息化实践经验。这是在新的环境，新的挑战下，做出的新的转变。</p>
		<img class="full_img" src="../images/3_1.png"/>

		<h3 style="padding-top:20px;">问题分析</h3>
		<div class="line"></div>
		<img class="full_img" src="../images/3_2.png"/>
		<h3 style="padding-top:20px;">设计思路</h3>
		<div class="line"></div>
		<div style="width:100%;text-align:left;margin-top:10px;">
			<p style="font-size:14px;">要解决上面的问题，除了用传统的ux评估方法，如可用性测试以外，我们引入了一套全新的国际标准——UX沟通模型。所谓界面的沟通就是让用户清晰地知道目前是在哪里，这个业务可以做什么，怎么开始使用。</p>
			<img class="full_img" src="../images/3_3.png"/>
		</div>
		<p style="font-size:12px;margin-top:40px;">每个界面元素都是为了满足沟通目标</p>
		<img style="width:60%;margin:auto;" src="../images/3_4.png"/>
		<p style="font-size:12px;margin-top:40px;">因此我们用沟通模型检查界面主要元素</p>
		<img class="full_img" src="../images/3_5.png"/>
		<div style="width:100%;text-align:left;margin-top:10px;">
			<p style="font-size:13px;margin-bottom:0px;margin-top:2px;">布局：业务逻辑是从左到右，还是从上到下，必须一扫描就能看出来</p>
			<p style="font-size:13px;margin-bottom:0px;margin-top:2px;">控件：与用户沟通的具体内容，比如按钮就是用于点击的，要足够聪明，用户上次操作了什么能够记住</p>
			<p style="font-size:13px;margin-bottom:0px;margin-top:2px;">交互：操作产生了什么结果，要明确直观</p>
		</div>
		<h3 style="padding-top:20px;">设计方案</h3>
		<div class="line"></div>
		<img class="full_img" src="../images/3_6.png"/>
		<img class="full_img" src="../images/3_7.png"/>
		<img class="full_img" src="../images/3_8.png"/>
		<img class="full_img" src="../images/3_9.png"/>
		<img class="full_img" src="../images/3_10.png"/>
		<img class="full_img" src="../images/3_11.png"/>
		<h3 style="padding-top:20px;">更简单高效的布局：不同布局，匹配用户行为习惯</h3>
		<img style="width:60%;margin:auto;" src="../images/3_12.png"/>
		<img class="full_img" src="../images/3_13.png"/>
		<img class="full_img" src="../images/3_14.png"/>
		<img class="full_img" src="../images/3_15.png"/>
		<img class="full_img" src="../images/3_16.png"/>
		<img class="full_img" src="../images/3_17.png"/>
		<img class="full_img" src="../images/3_18.png"/>
		<img class="full_img" src="../images/3_19.png"/>
		<img class="full_img" src="../images/3_20.png"/>
		<img class="full_img" src="../images/3_21.png"/>

		<img class="icon_img" src="../images/icon.jpg"/>
		<p class="finish">让我感触最深的是，作为一个集团级财务应用软件，大家都会想当然的认为体验没那么重要，to B 的产品只要关注效率提高，提高生产就行了，不需要体验，不少人抱着这样的观点。但这个项目却是客户与我们双向推动的结果，这种观念转变所凝聚的力量带来了极大的动力。</p>
		<p class="finish">我一直不赞同优质的用户体验对to B的产品不是刚需。因为谈到用户体验，无论是交互，还是视觉，都是服务于效率，注重可用性的。这个我们很看重。并不冲突，没有矛盾。如关联模块，让用户减少跳转、操作一步完成。让用户选的，自动填的，减少输入，不敲键盘。事实上，客户层也深刻意识到了提高用户体验的重要性。成立专门的用户体验管控小组，进行可用性测试厂商测评。所以说现状是，无论什么类型的企业，只要想走得更远，就必须要重视这块。企业应用，一旦客户意识到体验重要性，并且想要推动系统的体验改进。就成为了“刚需”，有了原动力。</p>
		<p class="finish">时代已经改变，客户愿意为体验买单。作为一个指标，一个单独的标准纳入合同。这是我在公司呆了三年最大的变化。我们愿意不断探索，寻找一个平衡点。功能多，复制、数据量大、表单多等等。这些特征，总会有一个最合理的解决方案。之前的UI我们总是在做大而全的事情，希望能满足用户的一切要求，系统变得越来越庞大冗余。而现在，我们在做大而精的事情，不是替用户完成所有事情，而是在用户想要做某事时，能恰如其分给予引导和说明，帮助用户简单高效完成事情。这些是我深入了解后最大的感受。</p>
		<p class="finish">所以，当这个方案第一次在国网进行汇报的时候，效果和反响是特别的热切，客户认同加感动，说出了“这么多年，你们终于懂我们了”这样的话。当时现场那种张力和情绪，真的是非常让人感动。所以我们的团队，才会破例连续两年被评为优秀团队。</p>
		<p class="finish">包括这几天看到了SAP发布的最新UX战略，里面已经融入了“全面体验”的概念，加入社交企业的概念，希望在建立一种情感连接，提出了合作设计（提供培训、工具、社区、实践融合的网站），还有UXaaS，UX即服务等等。我所看到的是国际上领先的同行，对于用户体验已经上升到了另外一个高度。正如之前提及的，未来的企业，只有提供良好的用户体验产品和服务，才能获得长足发展，获取最大利润。用户体验设计在国内还很稚嫩，需要共同努力，交流、沟通分享是更快更好发展的最佳途径。</p>
		<p class="finish">总之，挺有幸能经历整个项目，这三年里，见证了UI从糟糕慢慢成长，逐渐变得越来越好的整个过程。</p>
	</div>

	<div class="bottom">
		<a href="./2.html"><img id="left" src="../images/left.jpg"/></a>
		<a href="../index.html"><img id="middle" src="../images/middle.jpg"/></a>
		<a href="./4.html"><img id="right" src="../images/right.jpg"/></a>
	</div>

	<script src="../libs/jquery-3.1.0.min.js"></script>
	<script src="../js/base.js"></script>
</body>
</html>