<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <title>财务管控升级</title>
    <link href="../css/base.css" rel="stylesheet">
</head>
<body style="position:relative;">
	<div class="content">
		<img class="header" src="../images/header6.png"/>
		<img class="subheader" src="../images/desc6.png"/>
		<h2 class="title">用户体验能否再上升到一个新高度？</h2>
		<p class="desc">2016年步入“十三五”，面对发展新机遇、新挑战，南方电网公司为充分发挥财务管理信息化的重要作用，提出继续提升用户体验的要求。而前期只达成了改造意向，并无确切方向。在接收到任务后，成立了南网专项小组，启动对南网管控系统1.0用户体验问题的分析，目的是通过深入用户研究、分析目前存在问题，给出一套完成的用户体验解决方案给客户。这是之前未有过的尝试，大家一起不断摸索，探究最佳方式。目前阶段方案汇报得到了用户强烈的认可，纳入新的合同中规划实现落地。</p>

		<h3 style="padding-top:20px;">初探</h3>
		<div class="line"></div>
		<p style="margin-top:10px;margin-bottom:0px;text-align:left;font-size:15px;">首先我们想获得全局的认识，能更客观把握南网财务管控的整体情况。</p>
		<img class="full_img" src="../images/6_1.png"/>
		<h3 style="padding-top:20px;">当前系统存在的问题及分析</h3>
		<div class="line"></div>
		<img class="full_img" src="../images/6_2.png"/>
		<div style="width:100%;text-align:left;margin-top:10px;">
			<p>2、问题分析：</p>
			<p style="font-size:14px;margin:0px;">▪ 用户体验架构与场景有偏差</p>
			<p style="font-size:14px;margin:0px;">▪ 没有形成系统化的用户体验需求研究</p>
			<p style="font-size:14px;margin:0px;">▪ 产品规模大，在短期内升级换代过程中出现不一致现象</p>
		</div>
		<h3 style="padding-top:20px;">用户体验架构及特点</h3>
		<div class="line"></div>
		<img class="full_img" src="../images/6_3.png"/>
		<img style="width:60%;" src="../images/6_4.png"/>
		<div style="width:100%;text-align:left;margin-top:10px;font-size:16px;">
			<p>架构特点</p>
			<p style="margin:0px;">稳定性——清晰的架构层级，应对不同的需求，便于标准化工作展开，也更易于培养用户操作习惯</p>
			<p style="margin:0px;">灵活性——操作路径更灵活，更易于用户角色的分层分级，满足用户个性化要求</p>
			<p style="margin:0px;">复用性——基于同一个平台，相同元素可复用</p>
		</div>
		<h3 style="padding-top:20px;">个人门户升级方案</h3>
		<div class="line"></div>
		<img class="full_img" src="../images/6_5.png"/>
		<img class="full_img" src="../images/6_6.png"/>
		<img class="full_img" src="../images/6_7.png"/>
		<img class="full_img" src="../images/6_8.png"/>
		<img class="full_img" src="../images/6_9.png"/>
		<img class="full_img" src="../images/6_10.png"/>
		<img class="full_img" src="../images/6_11.png"/>
		<img class="full_img" src="../images/6_12.png"/>
		<h3 style="padding-top:20px;">角色2：财务部门领导</h3>
		<div style="padding:20px;background-color:#f0f0f0;">
		<div class="my-slider">
			<ul>
			  <li><img class="full_img" src="../images/6_13.jpg" /></li>
			  <li><img class="full_img" src="../images/6_14.jpg" /></li>
			  <li><img class="full_img" src="../images/6_15.jpg" /></li>
			  <li><img class="full_img" src="../images/6_16.jpg" /></li>
	  		  <li><img class="full_img" src="../images/6_17.jpg" /></li>
	  		  <li><img class="full_img" src="../images/6_18.jpg" /></li>
	  		  <li><img class="full_img" src="../images/6_19.jpg" /></li>
	  		  <li><img class="full_img" src="../images/6_20.jpg" /></li>
			</ul>
		</div>
		</div>
		<h3 style="padding-top:20px;">角色3：财务部门业务人员</h3>
		<img class="full_img" src="../images/6_21.png" />
		<h3 style="padding-top:20px;">角色4：业务部门领导</h3>
		<img class="full_img" src="../images/6_22.png" />
		<h3 style="padding-top:20px;">角色5：业务部门业务人员</h3>
		<img class="full_img" src="../images/6_23.png" />
		<h3 style="padding-top:20px;">角色6：系统管理员</h3>
		<h3 style="padding-top:20px;font-weight:900;">业务功能界面升级方案</h3>
		<div class="line"></div>
		<div style="padding-top:20px;">指标报表类——简洁化、自定义、多维化</div>
		<div style="padding:20px;background-color:#f0f0f0;">
			<div class="my-slider">
				<ul>
				  <li><img class="full_img" src="../images/6_24.jpg" /></li>
				  <li><img class="full_img" src="../images/6_25.jpg" /></li>
				  <li><img class="full_img" src="../images/6_26.jpg" /></li>
		  		  <li><img class="full_img" src="../images/6_27.jpg" /></li>
		  		  <li><img class="full_img" src="../images/6_28.jpg" /></li>
		  		  <li><img class="full_img" src="../images/6_29.jpg" /></li>
		  		  <li><img class="full_img" src="../images/6_30.jpg" /></li>
		  		  <li><img class="full_img" src="../images/6_31.jpg" /></li>
		  		  <li><img class="full_img" src="../images/6_32.jpg" /></li>
		  		  <li><img class="full_img" src="../images/6_33.jpg" /></li>
		  		  <li><img class="full_img" src="../images/6_34.jpg" /></li>
		  		  <li><img class="full_img" src="../images/6_35.jpg" /></li>
		  		  <li><img class="full_img" src="../images/6_36.jpg" /></li>
				</ul>
			</div>			
		</div>
		<img class="full_img" src="../images/6_38.png" />
		<div style="padding-top:20px;">业务处理类——清晰的任务流、语义化、区域合理划分</div>
		<div style="padding:20px;background-color:#f0f0f0;">
			<div class="my-slider">
				<ul>
		  		  <li><img class="full_img" src="../images/6_39.jpg" /></li>
		  		  <li><img class="full_img" src="../images/6_40.jpg" /></li>
		  		  <li><img class="full_img" src="../images/6_41.jpg" /></li>
		  		  <li><img class="full_img" src="../images/6_42.jpg" /></li>
				</ul>
			</div>			
		</div>
		<img class="full_img" src="../images/6_37.png" />
		<div style="padding-top:20px;">系统管理类——可视化、渐进式</div>
		<img class="full_img" src="../images/6_43.png" />
		<img class="full_img" src="../images/6_44.png" />
		<img class="full_img" src="../images/6_45.png" />
		
		<img class="icon_img" src="../images/icon.jpg"/>
		<p class="finish">可以说，这次方案真的让我获益匪浅，跟着小组成员一起恶补信息架构的知识，一起跟实施地同事做调研。每次有这种参与大的系统改造升级项目时我总是很珍惜，因为这个时候才有机会思考很多平时设计单个界面所不能想到的问题。当站在一个更加宏观的角度看待整个产品，看待不同层级里的生态体系的时候，就真的能体会到这种思维的力量。虽然一开始是走了些弯路，但试错的过程是能学到很多的。最大的收获，莫过于思维高度和看得更远更系统化，这些都是只做一个界面的设计所感受不到的。</p>
	</div>

	<img id="back" src="../images/back.png"/>

	<div class="bottom">
		<a href="./5.html"><img id="left" src="../images/left.jpg"/></a>
		<a href="../index.html"><img id="middle" src="../images/middle.jpg"/></a>
		<a href="./7.html"><img id="right" src="../images/right.jpg"/></a>
	</div>

	<script src="../libs/jquery-3.1.0.min.js"></script>
	<script src="../libs/unslider-min.js"></script>
	<link href="../libs/unslider-dots.css" rel="stylesheet" />
	<link href="../libs/unslider.css" rel="stylesheet" />
	<script src="../js/base.js"></script>
</body>
</html>