<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <title>报账平台</title>
    <link href="../css/base.css" rel="stylesheet">
</head>
<body style="position:relative;">
	<div class="content">
		<img class="header" src="../images/header7.png"/>
		<img class="subheader" src="../images/desc7.png"/>
		<h2 class="title">项目背景</h2>
		<p class="desc">伴随企业规模的不断壮大，财务集约化管理，信息系统升级的需求应运而生。为满足南方电网公司在“十二五”期间部署“6+1”信息化建设的要求，帮助南网实现财务和业务的深度融合，带动财务系统深化应用、业务延伸和信息集成业务。财务管理系统v1.0于2014年底开始试点，这是南网六大企业级应用系统之一。而报账平台是其中重要的一个模块，服务于全公司员工，涵盖所有资金支出业务。建立全网统一报账平台，优化报账流程、简化报销核算、强化预算控制。通过报销单据电子化管理，达到报销审核在线处理，报销进度自助查询，无预算不开支，无计划不支付，实现信息化新体验，大大提高财务效率。</p>
		<img class="full_img" src="../images/7_1.png"/>
		<h2 class="title">报销系统如何提高效率？</h2>
		<div style="font-size:13px;">分别通过角色化、应用场景化和简洁化三方面来提高效率。</div>
		<img class="full_img" src="../images/7_2.png"/>
		<img class="full_img" src="../images/7_3.png"/>
		<img class="full_img" src="../images/7_4.png"/>
		<img class="full_img" src="../images/7_5.png"/>
		<div style="font-size:20px;">视觉简洁化</div>
		<img class="full_img" src="../images/7_6.png"/>
		<img class="full_img" src="../images/7_7.png"/>
		<img class="full_img" src="../images/7_8.png"/>
		<div style="font-size:20px;">布局简洁化</div>
		<img class="full_img" src="../images/7_9.png"/>
		<img class="full_img" src="../images/7_10.png"/>
		<img class="full_img" src="../images/7_11.png"/>
		<div style="font-size:20px;">交互简洁化</div>
		<img class="full_img" src="../images/7_12.png"/>
		<img class="full_img" src="../images/7_13.png"/>
		<img class="full_img" src="../images/7_14.png"/>
		
		<img class="icon_img" src="../images/icon.jpg"/>
		<p class="finish">报账平台是南网全员都在用的平台，覆盖面非常的广，延伸到所有的部门。截止2016年1月，已经累计注册用户达17万人，产生报账单据66万张，会计凭证105万张，100%实际业务已经在系统中流转。（摘自南方电网公司网站）当我查阅到这些数据的时候，顿时便为之前所做努力而感到喜悦。对于一个设计师来说，最有成就感的事莫过于自己经手的产品能真正给用户带来利好，切实方便用户的工作、生活了。</p>
		<p class="finish">而在我回归这个方案的时候，感受最深的就是关于目前行业内大趋势的思考。处于企业信息化变革的浪潮中，加之受整个行业的影响（如数据运营，大数据，互联网思维等等）。我们会发现，现在传统信息化厂商都很“躁动”，厂商向互联网转型，企业用户向互联网转型，一切看上都很美，所有人都看到和感受到了互联网的能量，担心自己被淘汰，所以纷纷说要转型。而我们对产品的畅想已经可以和一些互联网思维，新技术，新名词（搜索、机器学习，社会化，切片化轻应用等）关联上，并找到了落地的地方。这是值得肯定的。但，我觉得同时也是把双刃剑。还是要脚踏实地，结合自身实际分析，戒骄躁真切的思索“后”财务管控时代的前进方向。</p>
		<p class="finish">我想说的是，设计师不仅仅是埋头做自己眼前的项目。更需要把握整个行业内的大方向和趋势，这是种眼界，也是开拓自己思维的过程。因此，在远光的这段日子，我也一直在了解公司内和业务的最新动态。在新一代的企业信息智能监控平台中，业务平台化是大势所趋，要么自己打造平台，要么融入其他平台。而对于很多的创新项目，如实时反映平台（企业大数据运营平台化新思路），侧面反映出数据可视化、基于场景设计的一个趋势。在项目组这块，目前核算模块最新趋势是从财务会计向管理会计的转型，面临挑战角色转变，从财务处理为主到决策支持为主。面对深圳输配电改革，电网成本精益化核算正走向企业战略前沿等等</p>
	</div>

	<img id="back" src="../images/back.png"/>

	<div class="bottom">
		<a href="./6.html"><img id="left" src="../images/left.jpg"/></a>
		<a href="../index.html"><img id="middle" src="../images/middle.jpg"/></a>
		<a href="./8.html"><img id="right" src="../images/right.jpg"/></a>
	</div>

	<script src="../libs/jquery-3.1.0.min.js"></script>
	<script src="../js/base.js"></script>
</body>
</html>